.list-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  // background-color: #d6d4d4;
  width: 100%;

  ul {
    padding-top: 15px;

    li {
      margin-bottom: 15px;
    }
  }
}

li .drop-item {
  text-decoration: none;
  color: black;

  font-size: 18px;
  letter-spacing: normal;

  &:hover {
    text-decoration: underline;
  }
}

.parent {
  width: 200px;
}

.title-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  padding-left: 20px;

  justify-content: flex-start;
  align-items: center;

  cursor: pointer;
  color: rgb(51, 51, 51);

  &:hover {
    color: black;
  }

  &.active {
    color: black;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    width: 80%;
  
    margin-right: 10px;
  }
}

.icon {
  transform: rotate(0deg);
  transition: transform 300ms ease-in;

  &.active {
    transform: rotate(180deg);
    transition: transform 300ms ease-in;
  }
}
