* {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

nav {
  height: 93vh;
  width: 230px;

  background-color: #f7f7f7;
  border-right: 1px solid #ececec;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.links-container {
  list-style: none;
  height: 90%;

  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 25px 10px 10px 10px;

  li {
    margin-bottom: 30px;
  }
}
